[Unit]
Description=Farmbot Factorio
StartLimitIntervalSec=60
StartLimitBurst=2

[Service]
ExecStart=/opt/farmbot/factorio/farmbot-factorio-env/bin/python3 /opt/farmbot/factorio/farmbot.py
WorkingDirectory=/opt/farmbot/factorio
Restart=on-failure
Type=simple
User=farmbot-factorio
Group=farmbot-factorio
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
